
*.biprivatekey

hemtt\.exe
armake2\.exe
.hemttout/
keys/
releases/
*.pbo

*.bisign

releases/*
keys/*
.hemtt/local
*.pdb
*.exe
*.sqfc
*.bat
*.dll

.vscode/*
*.hemttprivatekey
privatekeypassword.txt
