name = "DUI Squad Radar"
prefix = "diwako_dui"
author = "Diwako"
mainprefix = "z"

[version]
path = "addons/main/script_version.hpp"
git_hash = 0

[files]
include = [
    "meta.cpp",
    "mod.cpp",
    "authors.txt",
    "license.txt",
    "logolarge.paa",
    "logosmall.paa",
]
exclude = ["*.psd", "*.png", "*.tga"]

[hemtt.launch.default]
workshop = [
    "450814997", # CBA_A3's Workshop ID
    "463939057", # ACE3
    # "751965892", # ACRE2
]
parameters = ["-world=empty"]
mission = "dui.vr"

[signing]
private_key_hash = "49d88a0d41217ee098923074df25c520faad099"

[hemtt.release]
folder = "diwako_dui"

[lints.stringtables.sorted]
options.only-lang = true

[lints.sqf.var_all_caps]
enabled = true
options.ignore = [
    "ACRE_IS_SPECTATOR"
]
