name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@master
      - name: Setup HEMTT
        uses: arma-actions/hemtt@v1
      - name: Run HEMTT check
        run: hemtt check --pedantic
      - name: Validate Config
        run: python3 tools/config_style_checker.py
      - name: Check for BOM
        uses: arma-actions/bom-check@master
      - name: .editorconfig Checker
        uses: editorconfig-checker/action-editorconfig-checker@main

  stringtables:
    runs-on: ubuntu-latest
    if: github.repository == 'diwako/diwako_dui' && github.ref	== 'refs/heads/master' && ! contains(github.event.head_commit.message, '[ci skip]')
    steps:
      - name: Install Python packages
        run: |
          pip3 install wheel
          pip3 install setuptools
          pip3 install pygithub
          pip3 install pygithub3
      - name: Checkout the source code
        uses: actions/checkout@master
      - name: Update Translation issue
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python3 tools/stringtableDeploy.py

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup HEMTT
        uses: arma-actions/hemtt@v1
      - name: Run HEMTT build
        run: hemtt build
      - name: Upload Build
        uses: actions/upload-artifact@v6
        with:
          name: "@diwako_dui"
          path: ".hemttout/build/*"
